{% extends "layout.html" %}
{% block title %}Informativa Privacy{% endblock %}

{% block content %}
<div class="container" style="max-width:900px">
  <h4 class="teal-text text-darken-2">Informativa sul trattamento dei dati personali</h4>

  <div class="card">
    <div class="card-content">
      {% include "privacy/privacy_text.html" %}
    </div>
  </div>

  <div class="right-align" style="margin-top:-12px;margin-bottom:24px">
    <a href="javascript:window.print()" class="btn-flat waves-effect">
      <i class="material-icons left">print</i>Stampa
    </a>
  </div>
</div>
{% endblock %}
