{% extends 'layout.html' %}
{% block content %}
<h2>Profilo utente</h2>

<article>
  <header>
    <div style="margin-top:4px;">
      {% if user_obj.is_superuser %}
        <span class="new badge red" data-badge-caption="" style="float:none; margin-left:0;">Superuser</span>
      {% elif user_obj.is_staff %}
        <span class="new badge blue" data-badge-caption="" style="float:none; margin-left:0;">Staff</span>
      {% endif %}
    </div>
  </header>

  <ul>
    <li><strong>Username:</strong> {{ user_obj.username }}</li>
    <li><strong>Nome:</strong> {{ user_obj.first_name|default:"-" }}</li>
    <li><strong>Cognome:</strong> {{ user_obj.last_name|default:"-" }}</li>
    <li><strong>Email:</strong> {{ user_obj.email|default:"—" }}</li>
    <li><strong>Ultimo accesso:</strong> {{ user_obj.last_login|date:"d/m/Y H:i" }}</li>
    <li><strong>Membro dal:</strong> {{ user_obj.date_joined|date:"d/m/Y H:i" }}</li>
  </ul>
  <p>
    <a role="button" href="{% url 'password_change' %}">Cambia password</a>
  </p>
</article>
{% endblock %}
